.section-banner-style-seven {
    text-align: center;
}

.section-banner-style-seven .section-banner-style-seven__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.section-banner-style-seven .section-banner-style-seven__box {
    width: 33.3333%;
    padding: 15px;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1200px) {
    .section-banner-style-seven .section-banner-style-seven__box {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .section-banner-style-seven .section-banner-style-seven__box {
        width: 100%;
    }
}

.section-banner-style-seven .section-banner-style-seven__icon > img,
.section-banner-style-seven .section-banner-style-seven__icon > a > img {
    width: auto;
    height: 32px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto 30px auto;
}

.section-banner-style-seven .section-banner-style-seven__content {
    overflow: hidden;
}

.section-banner-style-seven .section-banner-style-seven__row {
    margin-bottom: 15px;
}

.section-banner-style-seven .section-banner-style-seven__row:last-child {
    margin-bottom: 0;
}

.section-banner-style-seven .section-banner-style-seven__caption {
    text-align: center;
}

.section-banner-style-seven .section-banner-style-seven__icon {
    position: relative;
    transition: all .5s;
}

.section-banner-style-seven .section-banner-style-seven__desc {
    font-size: 14px;
}